/* line 136, icons2x/*.png */
.icons2x-sprite, .icons2x-douban, .icons2x-email, .icons2x-path, .icons2x-reddit, .icons2x-wechat, .icons2x-weibo {
  background-image: url('../images/icons2x-sa124ad90ee.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-douban {
  background-position: 0 0;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-douban:hover, .icons2x-douban.douban-hover {
  background-position: 0 -48px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-email {
  background-position: 0 -96px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-email:hover, .icons2x-email.email-hover {
  background-position: 0 -144px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-path {
  background-position: 0 -192px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-path:hover, .icons2x-path.path-hover {
  background-position: 0 -240px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-reddit {
  background-position: 0 -288px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-reddit:hover, .icons2x-reddit.reddit-hover {
  background-position: 0 -336px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-wechat {
  background-position: 0 -384px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-wechat:hover, .icons2x-wechat.wechat-hover {
  background-position: 0 -432px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-weibo {
  background-position: 0 -480px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons2x-weibo:hover, .icons2x-weibo.weibo-hover {
  background-position: 0 -528px;
}
