@import "compass/utilities/sprites";
$icons-layout: horizontal;
$icons-spaceing: 2px;
$icons-repeat: no-repeat;
$icons-sprite-dimensions: true;
$icons-sprite-base-class: ".icon";
@import "icons/*.png";


@each $icon in douban, email, path, reddit, wechat, weibo {
    @include icons-sprites(#{$icon});
}